- title = 'Escape Mania – Sala de escape, escape room en Bilbao - Reservar'

- active = 'RESERVAR'

include includes/_mixins.pug
include includes/_header.pug

#mainContent.container-fluid.mt-5
    .row.py-1.py-sm-3.color-bg-game-1
        include includes/_juego1.pug
    .row.py-1.py-sm-3.color-bg-game-2
        include includes/_juego2.pug
    .row.py-1.py-sm-3.color-bg-game-3
        include includes/_juego3.pug

include includes/_footer.pug