- title = 'Escape Mania – Sala de escape, escape room en Bilbao - Vale regalo - juego 2 Harrison Jones en busca del Sexto Elemento'

- active = 'VALE REGALO'

include includes/_mixins.pug
include includes/_header.pug

#mainContent.container-fluid.pt-5
    .bg-dark.row
        .container.mt-5
            .row.text-center
                .col-md-10.mx-auto
                    img.my-3(src="images/vale_web.jpg", alt="Vale")

    .color-bg-game-2.row
        .container
            .row.py-2.py-sm-5
                .col-md-4
                    img.img-fluid(src="images/harrison-vinilo-peq.jpg", alt="")
                .col-md-8.text-center
                    h1.mt-4.mt-md-0 JUEGO 2: Harrison Jones en busca del Sexto Elemento
                    p Este juego es de una temática con estilo Indiana Jones.
                    p.text-warning.py-3
                        span.h3 2-5 personas 60€
                        span  (6 personas 70€)
                        img.ml-2.mr-1.img-fluid(src="images/flag-spanish.jpg", alt="Juego disponible en idioma Español")
                        img.mx-1.img-fluid(src="images/flag-english.jpg", alt="Juego disponible en idioma Inglés")

            .widget-iframe-content(data-event-id='804ca193' data-app-url='https://www.ticketself.com/' data-event-url='https://www.ticketself.com/event/804ca193?widget=1&isgift=1&hidegift=true')  Compra aqu&iacute; tus entradas
            script(type='text/javascript' src='https://www.ticketself.com/assets/default/js/widget-multi-iframe.js')

include includes/_footer.pug