// SCRIPTS

.nav-to-top
    a.nav-link.btn-dark.btn-sm(href='#top')
        i.small.fas.fa-arrow-up

.bg-dark
    .container.py-5.small
        .row
            .col-6
                span 2015-2018 - EscapeMania.es © - 
                a.text-secondary(href="terminos_y_condiciones.html") Términos y condiciones
            .col-6.text-right
                span fdsa

script(src='js/jsOneFile/scripts.min.js' charset='utf-8')