.container
    .row.py-2.py-sm-5
        .col-md-4
            img.img-fluid(src="images/lilith-peq.jpg", alt="")
        .col-md-8
            h1.mt-4.mt-md-0 JUEGO 3: La tienda de muñecas de Lilith
            p Sucesos extraños ocurren cerca de este establecimiento abandonado. La tienda de muñecas de Lilith tiene un oscuro pasado. Tenéis que ir a investigar qué ocurrió allí y ante todo salir ilesos…
            p Este juego es de una temática con estilo misterio, miedo y terror.
            p.small ** Se puede jugar una versión “light” sin miedo, avisando al encargado.
            p.text-warning.py-3
                span.h3 2-5 personas 60€
                span  (6 personas 70€)
                img.ml-2.mr-1.img-fluid(src="images/flag-spanish.jpg", alt="Juego disponible en idioma Español")
                span.mx-1.text-white.small (Not available in english)
                .row
                    .col-lg
                        a.btn.btn-danger(href='juego_3.html')
                            i.fa.fa-check
                            span.px-3 CONSULTAR HORARIO Y RESERVAR
                    .col-lg.mt-2.mt-lg-0
                        a.btn.btn-danger(href='vale_regalo_3.html')
                            i.fa.fa-gift
                            span.px-3 REGALAR