.container
    .row.py-2.py-sm-5
        .col-md-4 
            img.img-fluid(src="images/harrison-vinilo-peq.jpg", alt="")
        .col-md-8
            h1.mt-4.mt-md-0 JUEGO 2: Harrison Jones en busca del Sexto Elemento
            p Os presentamos una nueva aventura. Debéis ir en busca de vuestro compañero desaparecido, Harrison Jones. Su último contacto ha sido hace unas semanas informando que llegaba al poblado de Bueng Kan. Deberéis encontrar a Harrison y localizar el Sexto Elemento. ¿Seréis capaces?
            p.text-warning.py-3
                span.h3 2-5 personas 60€
                span  (6 personas 70€)
                img.ml-2.mr-1.img-fluid(src="images/flag-spanish.jpg", alt="Juego disponible en idioma Español")
                img.mx-1.img-fluid(src="images/flag-english.jpg", alt="Juego disponible en idioma Inglés")
                .row
                    .col-xl-7
                        a.btn.btn-success.btn-lg(href='juego_2.html')
                            i.fa.fa-check
                            span.px-3 CONSULTAR HORARIO Y RESERVAR
                    .col-xl-5.mt-2.mt-xl-0
                        a.btn.btn-success.btn-lg(href='regalar_juego_2.html')
                            i.fa.fa-gift 
                            span.px-3 REGALAR