- active = 'VALE REGALO'

include includes/_mixins.pug
include includes/_header.pug

#mainContent.container-fluid
    .container.p-5 Sección Vale regalo y tal

    .container.p-5 Lorem ipsum dolor, sit amet consectetur adipisicing elit. In voluptate eum, minima facere rem blanditiis a et necessitatibus aliquam quis, earum itaque neque cupiditate aspernatur voluptatibus at repudiandae! Fugit, error!Lorem ipsum dolor, sit amet consectetur adipisicing elit. In voluptate eum, minima facere rem blanditiis a et necessitatibus aliquam quis, earum itaque neque cupiditate aspernatur voluptatibus at repudiandae! Fugit, error!Lorem ipsum dolor, sit amet consectetur adipisicing elit. In voluptate eum, minima facere rem blanditiis a et necessitatibus aliquam quis, earum itaque neque cupiditate aspernatur voluptatibus at repudiandae! Fugit, error!Lorem ipsum dolor, sit amet consectetur adipisicing elit. In voluptate eum, minima facere rem blanditiis a et necessitatibus aliquam quis, earum itaque neque cupiditate aspernatur voluptatibus at repudiandae! Fugit, error!Lorem ipsum dolor, sit amet consectetur adipisicing elit. In voluptate eum, minima facere rem blanditiis a et necessitatibus aliquam quis, earum itaque neque cupiditate aspernatur voluptatibus at repudiandae! Fugit, error!

    .container.p-5 Lorem ipsum dolor, sit amet consectetur adipisicing elit. In voluptate eum, minima facere rem blanditiis a et necessitatibus aliquam quis, earum itaque neque cupiditate aspernatur voluptatibus at repudiandae! Fugit, error!Lorem ipsum dolor, sit amet consectetur adipisicing elit. In voluptate eum, minima facere rem blanditiis a et necessitatibus aliquam quis, earum itaque neque cupiditate aspernatur voluptatibus at repudiandae! Fugit, error!Lorem ipsum dolor, sit amet consectetur adipisicing elit. In voluptate eum, minima facere rem blanditiis a et necessitatibus aliquam quis, earum itaque neque cupiditate aspernatur voluptatibus at repudiandae! Fugit, error!Lorem ipsum dolor, sit amet consectetur adipisicing elit. In voluptate eum, minima facere rem blanditiis a et necessitatibus aliquam quis, earum itaque neque cupiditate aspernatur voluptatibus at repudiandae! Fugit, error!Lorem ipsum dolor, sit amet consectetur adipisicing elit. In voluptate eum, minima facere rem blanditiis a et necessitatibus aliquam quis, earum itaque neque cupiditate aspernatur voluptatibus at repudiandae! Fugit, error!

include includes/_footer.pug