// SCRIPTS

script(src='js/jquery.min.js' charset='utf-8')
script(src='js/popper.min.js' charset='utf-8')
script(src='js/bootstrap.min.js' charset='utf-8')
script(src='js/jquery.easing.min.js' charset='utf-8')
script(src='js/main.js' charset='utf-8')