.container
    .row.py-2.py-sm-5
        .col-md-4 
            img.img-fluid(src="images/foto-juego-4.jpg", alt="")
        .col-md-8
            h1.mt-4.mt-md-0 JUEGO 1: El misterio de la familia Van Landen
            p Vais a colaros en la oficina de Charles D. Ward, un investigador privado de los años 30. Su mujer ha sido asesinada. Vuestra misión es encontrar las pruebas que incriminen o absuelvan al detective, pero deberéis hacerlo en menos de 1 hora. ¿Lo conseguiréis?
            p.text-warning.py-3
                span.h3 2-5 personas 60€
                span  (6 personas 70€)
                img.ml-2.mr-1.img-fluid(src="images/flag-spanish.jpg", alt="Juego disponible en idioma Español")
                img.mx-1.img-fluid(src="images/flag-english.jpg", alt="Juego disponible en idioma Inglés")
                .row
                    .col-lg
                        a.btn.btn-primary(href='juego_1.html')
                            i.fa.fa-check
                            span.px-3 CONSULTAR HORARIO Y RESERVAR
                    .col-lg.mt-2.mt-lg-0
                        a.btn.btn-primary(href='regalar_juego_1.html')
                            i.fa.fa-gift 
                            span.px-3 REGALAR