@import "variables";

@import "./node_modules/bootstrap/scss/bootstrap";

#mainContent {
  padding-top: 80px;
}

.navbar-escape {
  transition: padding 0.2s ease;
  will-change: padding;

  &.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-nav {
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;

    a.nav-link {
      @include media-breakpoint-up(md) {
        padding: .5rem 1rem;
      }

      color: #FFF;

      &:hover {
        color: $primary;
      }
    }

    .nav-item, .nav-link {
      &.active a, &.active {
        color: $primary !important;
      }
    }
  }
}